.weather {
  margin: 30px 0;
  padding-left: 30px;
}

.weather h1 {
  margin-top: 0;
  margin-bottom: 5px;
}

@media only screen and (max-width: 780px) {
  .weather {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .weather .top {
    padding-left: 0;
    text-align: center;
  }
}
