@import "../../assets/variables.css";

.input-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

.input-field input {
  font-family: var(--inputFont);
  border: 1px solid var(--lightGray);
  border-radius: 4px;
  background-color: white;
  height: 34.5px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  font-size: 1.1em;
  padding-left: 5px;
  margin-left: 5px;
  width: 100%;
}

@media only screen and (max-width: 450px) {
  .input-field label {
    width: 75px;
  }
}
