@import "../../assets/variables.css";

.input-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

.input-field input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  border: 1px solid var(--lightGray);
  border-radius: 4px;
  background-color: white;
  height: 34.5px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  font-size: 1.1em;
  padding-left: 5px;
  margin-left: 5px;
  width: 100%;
}
