.app-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.app-header.dark {
  border-bottom: 1px solid white;
}

.app-header .toggle {
  padding-top: 1.5px !important;
}
