.loading-skeleton {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  padding-left: 30px;
}

@media only screen and (max-width: 780px) {
  .loading-skeleton {
    padding-left: 0;
    text-align: center;
  }
}
